.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  height: 60px;
}

.topbar-left {
  font-weight: bold;
  font-size: 1.2rem;
}

.topbar-right .login-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}